/.eunit
/c_src/*.o
/ebin
/priv
*~
/c_src/*.dSYM
/c_src/Jerasure/Examples/*.dSYM
/c_src/Jerasure/Examples/cauchy_01
/c_src/Jerasure/Examples/cauchy_02
/c_src/Jerasure/Examples/cauchy_03
/c_src/Jerasure/Examples/cauchy_04
/c_src/Jerasure/Examples/decoder
/c_src/Jerasure/Examples/encoder
/c_src/Jerasure/Examples/encoder2.c
/c_src/Jerasure/Examples/jerasure_01
/c_src/Jerasure/Examples/jerasure_02
/c_src/Jerasure/Examples/jerasure_03
/c_src/Jerasure/Examples/jerasure_04
/c_src/Jerasure/Examples/jerasure_05
/c_src/Jerasure/Examples/jerasure_06
/c_src/Jerasure/Examples/jerasure_07
/c_src/Jerasure/Examples/jerasure_08
/c_src/Jerasure/Examples/liberation_01
/c_src/Jerasure/Examples/reed_sol_01
/c_src/Jerasure/Examples/reed_sol_02
/c_src/Jerasure/Examples/reed_sol_03
/c_src/Jerasure/Examples/reed_sol_04