{so_name, "erasuerl.so"}.

{port_sources, ["c_src/erasuerl_nifs.cpp", 
                "c_src/coding_state.cpp"]}.

{port_envs, [
            {"CXXFLAGS", "-g -Ic_src -std=c++11 -stdlib=libc++"},
            {"LDFLAGS", "-Lc_src/Jerasure/lib -ljerasure"},
	    {"i686.*-linux.*", "CXXFLAGS", "$CXXFLAGS -march=i686"},
	    {".*-linux.*", "LDFLAGS", "$CXXFLAGS -lc++"}
]}.
